.card {
  border-radius: 3px;
  box-shadow: 0 2rem 3rem rgba($color-black, .2);
  transition: all .2s;
  height: auto;
  padding: 0 0 3rem 0;

  &:hover {
    transform: scale(1.1) translateY(-1rem);
    box-shadow: 0 1rem 5rem rgba($color-black, .2);
  }

  &__top {
    background-blend-mode: multiply;
    background-position: center; 
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100% );

    &--1 {
      background-image:  url('../img/1.jpeg'), linear-gradient(to bottom right, $color-primary-dark, $color-primary-light);
    }

    &--2 {
      background-image:  url('../img/5.jpeg'), linear-gradient(to bottom right, $color-primary-dark, $color-primary-light);

    }

    &--3 {
      background-image:  url('../img/2.jpeg'), linear-gradient(to bottom right, $color-primary-dark, $color-primary-light);
    }
  }

  &__header {
    padding: 3rem 2rem;
    color: $color-white;
  }
  
  &__heading {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;    
  }

  &__price {
    display: inline-block;
    font-size: 6rem;   
  }

  &__content {
    padding: 2rem 2rem;
    text-align: center;
  }

  &__list {
    list-style: none;
    padding: 0 3rem;   
  }

  &__item {
    display: block;
    font-size: 2rem;
    padding: 1rem 0rem;
    text-transform: capitalize;

    &:not(:last-child) {
      border-bottom: 1px solid rgba($color-grey-dark-1, .2);
      
    }

  }

  &__feature {
    display: inline-block;
    transform: translateY(-2px);   
  }
}
