.form {
  
  width: 90%;
  margin: 0 auto;

  @include respond(phone) {
   width: 100%;
  }

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: $default-font-size;
    font-family: inherit;
    padding: 1.5rem 2rem;
    display: block;
    border: none;
    border-bottom: 1px solid $color-primary-dark;
    transition: all .2s;
    color: inherit;
    width: 100%;
    background-color: transparent;

    &:focus {
      outline: none;
      border-bottom: 1px solid $color-primary-dark;
      color: $color-grey-dark-3;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
    font-size: 1.6rem;
    color: $color-grey-dark-3;
    margin-left: 2rem;
    margin-top: .5rem;
    font-weight: 400;
    display: block;
    transition: all .3s;
    
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }


  &__textarea {
    font-size: 1.6rem;
    font-family: inherit;
    width: 100%;
    padding: 1.5rem 2rem;
    height: 10rem;
    border: none;
    border-bottom: 1px solid $color-primary-dark;
    background-color: transparent;
    resize: none;

    &:focus {
      outline: none;
    }
  }

  &__text-label {
    font-size: $default-font-size;
    margin-right: 2rem;
  }
 
}