.section-cars {
  padding: 25rem 0;
  margin-top: -15vh;

  @include respond(tab-port) {
    padding: 15rem 0;
  }
}

.section-works {
  padding: 10rem 0 15rem 0;
  background-color: $color-grey-light-1;
}

.section-tracks {
  padding: 10rem 0 15rem 0;  
}

.section-testimonials {
  padding: 10rem 0 15rem 0;
  background-image: linear-gradient(rgba($color-black, .75), rgba($color-black, .75)), url('../img/3.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section-payments {
  padding: 10rem 0 20rem 0;
  background-color: $color-grey-light-1;
}

.section-contact {
  padding: 10rem 0 15rem 0;
}

.iphone-image {
  height: 45rem;
  float: right;
}

.book {
  background-image: linear-gradient(to bottom right, $color-primary-light, $color-primary-dark), url('../img/7.jpeg');
  background-blend-mode: multiply;
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
  overflow: hidden;
  
  

  &__form {
    width: 50%;
    padding: 3.5rem;
    background-color: rgba($color-white, 0.9);


    @include respond(tab-port) {
      width: 100%;
    }
  
  }
  
}